<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    ALL CVS
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% if cv_list %}
                        {% for cv in cv_list %}
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">

                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <span class="title">{{ cv.fname }} {{cv.sname}}</span>
                                                <br>
                                            </p>
                                            <p>
                                                <span class="subtitle">{{ cv.phone }}</span>
                                                <br>
                                                <span class="subtitle">{{ cv.edu }}</span>
                                                <br>
                                                <span class="subtitle">{{ cv.lang }}</span>
                                                <br>
                                                <span class="subtitle">{{ cv.det }}</span>
                                                <br>
                                            </p>
                                        </div>
                                    </div>
                                </article>
<!-- We can also delete saved locations                               -->
                                <form action="deleteCV/{{cv.id}}/" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" name="submit" value="delete">
                                </form>
                                 <form action="printCV/{{cv.id}}/" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" name="print" value="print">
                                </form>
                            </div>
                        {% endfor %}
<!-- If database empty                    -->
                    {% else %}
                    <h2>Please add a CV ! </h2>
                    {% endif %}
                    <a class="btn btn-dark" href="{% url 'cv:index' %}">Back</a>
                    <a class="btn btn-dark" href="{% url 'cv:newCV' %}">Create CV</a>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>

